.header{
    position: absolute;
width: 1440px;
height: 110px;
left: 0px;
top: 0px;

background: #FFFFFF;
}

.icon{
    width: 150px;
height: 100px;
left: -28px;
top: -8px;
}

.label
{
    margin-top: 40px;
    margin-bottom: 47px;
}

.searchbar
{
    margin-top: 20px;
    
}
.iconAvatar{
    margin-left: 50px;
    width: 150px;
height: 100px;
left: -28px;
top: -8px;
}