.header{
    position: absolute;
width: 1440px;
height: 90px;
left: 0px;
top: 0px;

background: #FFFFFF;


#logo{
    height: 90px;
    top:0;
    left:0;
}
#icon{
    width: 120px;
height: 78px;

}

#label
{
    margin-top: 30px;
    margin-bottom: 47px;
}

#searchbar
{
    margin-top: 11px;
    
}

#person{
    margin-left: 100px;
    width: 50px;


}
}






