 .content{
    --ion-background-color:#c0bdf3;
    width: 1350px;
  
}

.item-content{
  --ion-background-color: #FFFFFF;
border: 1px solid #FFFFFF;
border-radius: 20px;
width: 1080px;
height: fit-content;
left: 120px;
top: 150px;

#col1{
   
    border-radius: 15px;
}

#itemImg
{
  margin-top: 20px;
    height: 200px;
}

#label{
    white-space: pre-wrap;
    word-wrap: break-all;
}

#labelName
{
    white-space: pre-wrap;
    word-wrap: break-all;
    font-size: larger;
    align-content: center;
}

#img{
    height: 100px;
}

#TheLoai{
  margin-top: 10px;
  margin-bottom: 10px;
}

#dattruoc{
  margin-top: 20px;
}

#thichthue{
  border-top: 20px;
}
} 



.suggestBook
{
  padding-top: 30px;
padding-left: 0px;
border-radius: 30px;
width:1330px;
height: fit-content;
left: 0px;
top: 156px;

#label
{
  text-align: center;
}

#card{
  
  background-color: #FFFFFF;
    height: 280px;
    
}

#image
{
  height: 120px;
}

#MoTa
{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  overflow: auto;
  text-overflow: ellipsis;
}

#grid
{
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
border-radius: 30px;
left: 0px;
}

#icon
{
  display: flex;
  align-items: center;
  
}
}
